{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "CHANGELOG"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": true
      }
    ],
    "@semantic-release/git",
    ["@semantic-release/github", {
      "assets": [
        {"path": "dist/cookie-consent.esm.js", "label": "JS ES"},
        {"path": "dist/cookie-consent.umd.js", "label": "JS UMD"}
      ]
    }],
  ]
}
